*.egg
*.egg-info
*.ini
*.pyc
*.swo
*.swp
*.tmproj
*.wsgi
.*.swp
.DS_Store
.Python
.cache
.coverage
.direnv
.direnv/*
.envrc
.noseids
.project
.pydev*
.settings
.swp
.tx
.vagrant
FlaskApp.egg-info/
bin
include
instance/
